/* Explore page */
.search-container {
    width: 600px;
    position: fixed;
    z-index: 2;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.search-bar {
    background-color: rgba(255, 255, 255, 1); 
    width: 800px;
    z-index: -2;
}

.search-bar td {
    padding-left: 80px;
}

.google-map {
    position: fixed;
    top: 0px;
}

.add-form {
    display: inline-block;
}

.add-address {
    color: #0a0a0a;
}
.add-marker {
    width: 298px;
    margin-top: 2px;
    margin-left: 2px;
    color: #0a0a0a;
}

.add-city {
    width: 298px;
    margin-top: 2px;
    margin-right: 1px;
    color: #0a0a0a;
}

#PlacesAutocomplete__root {
    z-index: 3;
}