body {
  /* background: #86c7ed; */
  background-color: #292819;
}

.landing {
  margin-top: 10px;
  position: fixed;
  overflow: hidden;
}

/* Clouds */
/* bottom left */
.cloud-1 {
  position: fixed;
  height: 31%;
  width: 34%;
  left: 13%;
  top: 455px;
  transition: all 0.5s ease;
}

/* bottom right */
.cloud-3 {
  position: fixed;
  height: 31%;;
  width: 34%;
  left: 53%;
  top: 480px;
  transition: all 0.5s ease;
}

/* top left */
.cloud-4 {
  position: fixed;
  height: 31%;
  width: 30%;
  left: 6%;
  top: 180px;
  transition: all 0.5s ease;
}

/* top right */
.cloud-5 {
  position: fixed;
  height: 31%;
  width: 30%;
  left: 62%;
  top: 190px;
  transition: all 0.5s ease;
}

/* Landing owl */
.owl {
  position: relative;
  width: 510px;
  top: 50%;
  left: 50%;
  transform: translate(-86%, 0%);
}
.head {
  position: absolute;
  padding-left: 5px;
  top: 150px;
  width: 70%;
}
.eyes {
  position: absolute;
  top: 180px;
  width: 70%;
  z-index: 5;
}

.right-wing {
  position: absolute;
  top: 350px;
  left: 200px;
  width: 28%;
   -webkit-transform-origin: 30px 10px;
  -webkit-transform: rotate(-20deg);
  transition: all 0.5s ease;
  transform: scaleX(1);
  display: none;
  z-index: 2;
}

.left-wing {
  position: absolute;
  top: 350px;
  left: 300px;
  width: 28%;
  -webkit-transform-origin: 30px 10px;
  -webkit-transform: rotate(-20deg);
  transition: all 0.5s ease;
  display: none;
  z-index: 2;
}

.owl .right-wing {
  -webkit-transform: rotate(-90deg);
  top: 420px;
  left: 425px;
  display: block;
}
.owl .left-wing {
  -webkit-transform: rotate(90deg);
  display: block;
  top: 335px;
  left: 390px;
}

.owl:hover .cloud-1, .owl:hover .cloud-4 {
  transform: translate(-40px,0);
}

.owl:hover .cloud-5, .owl:hover .cloud-3 {
  transform: translate(40px,0);
}

.owl:hover .cloud-2{
  transform: translate(0,-60px);
}

.owl:hover .right-wing {
  -webkit-transform: rotate(-97deg);

}
.owl:hover .left-wing {
  -webkit-transform: rotate(97deg);

}

.owl:hover .head {
  top: 155px;
}
.owl:hover .eyes {
  top: 185px;
}