body {
    background-color: white;
}

.btn {
    background-color: #38254f;
}

.btn:hover {
    background-color: #4e2f62;
}

nav .nav-wrapper {
    padding-right: 20px;
    background-color: #38254f;
}

.card a {
    color: #38254f; 
}

.card a:hover {
    color: #4e2f62;
}

nav .nav-wrapper .brand-logo {
    padding-left: 20px;
    font-family: 'Lobster Two', cursive;
}

nav {
    padding: auto 20px;
}

p.info-window {
    text-align: center;
    width: 130px;
}

/* Modal design */
.dashboard .left-col div.backdrop {
    border-radius: 0;
    position: absolute;
    top: 150px;
    right: 20px;
    margin-left: 20px;
    width: 66.5%;
    height: 410px;
    background-color: #876d98;
    z-index: 100;
    opacity: 1;
    visibility: visible;
}