.dashboard {
    display: flex;
    flex-direction: row;
    background-color: #292819;
}

.left-col {
    width: 30%;
    margin: 20px;
    margin-right: 10px;
}

.right-col {
    width: 70%;
    margin: 20px;
    margin-left: 10px;
}

button {
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

button:hover {
    /* background-color: #876d98; */
    background-color: #ebd858;
}

.been-buttons button {
    display: inline-block;
    width: 50%;
}

/* Override materialize-css */
.card {
    /* background-color: #876d98; */
    background-color: rgba(0,0,0, 0.87);
}

.card .card-title {
    font-size: 1.5em;
    color: #ebd858;
    text-align: center;
}

.card .card-content {
    padding-bottom: 0px;
    background-color: rgba(0,0,0, 0.87);
}

.card .card-action {
    /* background-color: #241735; */
    background-color: rgba(0,0,0, 0.87);
    text-align: right;
}

/* Marker list cards */

.marker-list .card-title {
    font-size: 1em;
    color: #0a0a0a;
    text-align: left;
}

.marker-list .card-content {
    background-color: white;
    padding-bottom: 4px;
    border-bottom: solid 4px #0a0a0a;
    
}

.marker-list .card-action {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.marker-list button {
    padding: 5px 9px;
}

.marker-list .card-action .marker-form {
    display: inline;
}

/* City list */

.city-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.city-button {
    margin: auto 5px;
}

/* Activities been buttons */
.been-buttons button {
    background-color: #0a0a0a;
    color: #ebd858;
}

.been-buttons button:hover {
    color: #0a0a0a;
    background-color: #ebd858;
}

