.dashboard {
    display: flex;
    flex-direction: row;
}

.dashboard h4 {
    color: white;
}

.left-col {
    width: 30%;
    margin: 20px;
    margin-right: 10px;
}

.right-col {
    width: 70%;
    margin: 20px;
    margin-left: 10px;
}

button {
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

    /* background-color: #51bba8; */
    /* background-color: #2b7d6e; */

button:hover {
    /* background-color: #ee6e73; */
    background-color: #876d98;
}

/* Override materialize-css */
.card {
    background-color: #876d98;
}

.card .card-title {
    font-size: 1.5em;
}

.card .card-content {
    padding-bottom: 0px;
}

.card .card-action {
    background-color: #241735;
    text-align: right;
}

/* Marker list cards */

.marker-list .card-title {
    font-size: 1em;
}

.marker-list .card-content {
    background-color: white;
    padding-bottom: 4px;
    border-bottom: solid 4px #876d98;
}

.marker-list .card-action {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.marker-list button {
    padding: 5px 9px;
}

.marker-list .card-action .marker-form {
    display: inline;
}

/* City list */

.city-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.city-button {
    margin: auto 5px;
}

