/* Yelp search page */
.search-results {
    display: flex;
    flex-direction: row;
    background-color: #292819;
}

.left-col {
    width: 30%;
}

.right-col {
    width: 70%;
}

.marker-search {
    background-color: #292819;
}

/* Search list cards */
h3 {
    text-align: center;
    background-color: #0a0a0a;
    padding: 20px;
    margin: 20px;
    color: #ccbc53;
    margin-top: 50px;
}

.search-results .search-list .card-content .card-title a {
    font-size: 1.5em;
    color: #ccbc53;
    text-align: left;
}

.search-results .search-list .card-content {
    margin-top: -10px;
    background-color: #0a0a0a;
    padding-bottom: 4px;
    border-bottom: solid 10px #ccbc53;
}

.search-results .search-list .card-action {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    color: #ccbc53;
}

.search-results li {
    color: #ccbc53;
}

/* Search info */
.search-img {
    width: 100%;
    margin-top: -3px;
    height: 227px;
}

.search-info {
    margin-top: -20px;
}

.search-info .card-title {
    font-size: 1.5em;
}

.search-info .card-content {
    background-color: #0a0a0a;
    padding-bottom: 4px;
    height: 165px;
}

.search-info .card-action {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

